### Check:
* duplicate player names
* plotting for players where not all columns are filled (double check how this relates to fillna)
* add per game and per minute aggregations (button?)
* add playoffs
* improve plot (fix y axis at 0)
* add plot with multiple stats per year and slider

In [6]:
import sys
sys.path.append("../")

import plotly.express as px
import pandas as pd
import data_processing.constants as ct
import data_processing.data_io as data_io

In [34]:
data_io.list_players_with_ids("baumh")

[{'label': 'Baumholtz, Frankie', 'value': 76126}]

In [43]:
career_dict = data_io.get_player_stats("76126")

In [44]:
career_dict.keys()

dict_keys(['SeasonTotalsRegularSeason', 'CareerTotalsRegularSeason', 'SeasonTotalsPostSeason', 'CareerTotalsPostSeason', 'SeasonTotalsAllStarSeason', 'CareerTotalsAllStarSeason', 'SeasonTotalsCollegeSeason', 'CareerTotalsCollegeSeason', 'SeasonRankingsRegularSeason', 'SeasonRankingsPostSeason'])

In [45]:
career_dict["SeasonTotalsRegularSeason"]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,76126,1946-47,00,1610610026,CLR,28.0,45,None,None,255,...,0.776,None,None,None,54,None,None,None,93,631